@model QuanLyTrungTamLapTrinh.Models.KhoaHoc

@{
    ViewData["Title"] = "Edit";
}

<div class="container mx-auto">
    <br />
    <h4 class="text-2xl font-bold ext-left TieuDe">CẬP NHẬT THÔNG TIN KHÓA HỌC</h4>
    <hr><br>
    <form asp-action="Edit" class="grid grid-cols-2 gap-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TenKhoaHoc">Tên khóa học <span style="color: red">(*)</span></label>
            <input type="text" class="form-control" asp-for="TenKhoaHoc">
            <span asp-validation-for="TenKhoaHoc" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="HocPhi">Học phí <span style="color: red">(*)</span></label>
            <input asp-for="HocPhi" type="number" class="form-control">
            <span asp-validation-for="HocPhi" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="MoTa">Mô tả</label>
            <textarea asp-for="MoTa" class="form-control" rows="3"></textarea>
            <span asp-validation-for="MoTa" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GhiChu">Ghi chú</label>
            <textarea asp-for="GhiChu" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="TinhTrang">Tình trạng <span style="color: red">(*)</span></label>
            <select asp-for="TinhTrang" class="form-control select2bs4" style="width: 100%;">
                <option selected="selected">- Chưa chọn -</option>
                <option>Đang mở</option>
                <option>Ngừng đào tạo</option>
                <option>Tạm ngừng</option>
                <option>Chờ phê duyệt</option>
            </select>
        </div>

        <div class="form-group">
            &nbsp;
        </div>
        <div class="form-group">
            &nbsp;
        </div>
        <div class="flex justify-end">
            <button type="submit" value="Edit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Cập nhật</button>
        </div>
    </form>
    <br />

</div>

@* <h1>Edit</h1>

<h4>KhoaHoc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TenKhoaHoc" class="control-label"></label>
                <input asp-for="TenKhoaHoc" class="form-control" />
                <span asp-validation-for="TenKhoaHoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HocPhi" class="control-label"></label>
                <input asp-for="HocPhi" class="form-control" />
                <span asp-validation-for="HocPhi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TinhTrang" class="control-label"></label>
                <input asp-for="TinhTrang" class="form-control" />
                <span asp-validation-for="TinhTrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@