@model HocVien


<div class="container mx-auto">
    <br />
    <h1 class="text-2xl font-bold mb-4 text-left">THÊM MỚI HỌC VIÊN</h1>
    <hr><br>
    <form action="Create" method="post" class="grid grid-cols-2 gap-4" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputEmail1">Họ tên</label>
            <input type="text" class="form-control" id="exampleInputEmail1" >
        </div>
        
        <div class="form-group">
            <label>Ngày sinh:</label>
            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                <input type="date" class="form-control datetimepicker-input" data-target="#reservationdate" />

            </div>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Số điện thoại</label>
            <input type="number" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Số CCCD</label>
            <input type="number" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
            <label>Giới tính</label>
            <select class="form-control select2bs4" style="width: 100%;">
                <option selected="selected">- Chọn -</option>
                <option>Nam</option>
                <option>Nữ</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group">
            <label>Địa chỉ</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Ghi chú</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Tình trạng</label>
            <select class="form-control select2bs4" style="width: 100%;">
                <option selected="selected">- Chọn -</option>
                <option>Đăng ký mới</option>
                <option>Đang học</option>
                <option>Bảo lưu</option>
                <option>Đã nghỉ học</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputFile">Hình ảnh</label>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="exampleInputFile" accept="image/png, image/jpeg, image/gif">
                    <label class="custom-file-label" for="exampleInputFile"></label>
                </div>
            </div>
        </div>
    </form>
    <br />
    <div class="flex justify-end">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Thêm mới</button>
    </div>

</div>

