@model QuanLyTrungTamLapTrinh.Models.GiaoVien

@{
    ViewData["Title"] = "Create";
}

<div class="container mx-auto">
    <br />
    <h4 class="text-2xl font-bold ext-left TieuDe">THÊM THÔNG TIN GIÁO VIÊN MỚI</h4>
    <hr><br>
    <form asp-action="Create" class="grid grid-cols-2 gap-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="HoTen">Họ tên <span style="color: red">(*)</span></label>
            <input type="text" class="form-control" asp-for="HoTen">
            <span asp-validation-for="HoTen" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NgaySinh">Ngày sinh:</label>
            <div class="input-group date">
                <input asp-for="NgaySinh" class="form-control datetimepicker-input" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="SoDT">Số điện thoại <span style="color: red">(*)</span></label>
            <input asp-for="SoDT" type="number" class="form-control">
            <span asp-validation-for="SoDT" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SoCCCD">Số Căn cước công dân</label>
            <input asp-for="SoCCCD" type="number" class="form-control">
            <span asp-validation-for="SoCCCD" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GioiTinh">Giới tính <span style="color: red">(*)</span></label>
            <select asp-for="GioiTinh" class="form-control select2bs4" style="width: 100%;">
                <option selected="selected">- Chưa chọn -</option>
                <option>Nam</option>
                <option>Nữ</option>
            </select>
            <span asp-validation-for="GioiTinh" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ChuyenMon">Chuyên môn</label>
            <input asp-for="ChuyenMon" type="text" class="form-control">
            <span asp-validation-for="ChuyenMon" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Luong">Lương</label>
            <input asp-for="Luong" type="number" class="form-control">
            <span asp-validation-for="Luong" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DiaChi">Địa chỉ</label>
            <textarea asp-for="DiaChi" class="form-control" rows="3"></textarea>
            <span asp-validation-for="DiaChi" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GhiChu">Ghi chú</label>
            <textarea asp-for="GhiChu" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="TinhTrang">Tình trạng <span style="color: red">(*)</span></label>
            <select asp-for="TinhTrang" class="form-control select2bs4" style="width: 100%;">
                <option selected="selected">- Chưa chọn -</option>
                <option>Đăng ký mới</option>
                <option>Đang dạy</option>
                <option>Thỉnh giảng</option>
                <option>Đã nghỉ dạy</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="HinhAnh">Hình ảnh</label>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" asp-for="HinhAnh" accept="image/png, image/jpeg, image/gif">
                    <label class="custom-file-label" for="exampleInputFile"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            &nbsp;
        </div>
        <div class="flex justify-end">
            <button type="submit" value="Create" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Thêm mới</button>
        </div>
    </form>
    <br />

</div>


@* <h1>Create</h1>

<h4>GiaoVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDT" class="control-label"></label>
                <input asp-for="SoDT" class="form-control" />
                <span asp-validation-for="SoDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoCCCD" class="control-label"></label>
                <input asp-for="SoCCCD" class="form-control" />
                <span asp-validation-for="SoCCCD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <input asp-for="GioiTinh" class="form-control" />
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChuyenMon" class="control-label"></label>
                <input asp-for="ChuyenMon" class="form-control" />
                <span asp-validation-for="ChuyenMon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luong" class="control-label"></label>
                <input asp-for="Luong" class="form-control" />
                <span asp-validation-for="Luong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TinhTrang" class="control-label"></label>
                <input asp-for="TinhTrang" class="form-control" />
                <span asp-validation-for="TinhTrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label"></label>
                <input asp-for="HinhAnh" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

